body {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    font-family: "Lato", sans-serif; 
    background-image: url("/static/css/brickwall/brickwall.png");
}

.navbar-text-fixed {
    color: white;
    font-size: 15px;
}

.navbar-text1 {
    color: white;
    font-size: 15px;
    margin-top: -30px;
    margin-right: 10px;
}

.navbar-text2 {
    color: white;
    font-size: 15px;
    margin-top: -30px;
    margin-right: 35px;
}

.modal-body {
    font-size: 0;
}

.navbar-inverse {
    background-color: transparent !important;
    border: none;
}

#details {
    height: 715px;
    background-color: black !important;
}

#banner {
    background-image: url("/static/css/sydney1.jpg");
    background-size: cover;
    height: 350px;
    width: 1500px;
    background-repeat: no-repeat;
}

.detailed-steps {
    color: white;
    text-align: center;
    font-size: 50px;
}

.detailed-words {
    font-size: 35px !important;
}

#signup-modal {
    text-align: center;
}

#login-modal {
    text-align: center;
}

.modal-title {
    font-size: 30px;
}

#field-firstname {
    height: 40px;
    width: 400px;
    font-size: 15px !important;
}

#field-lastname {
    height: 40px;
    width: 400px;
    font-size: 15px !important;
}

#field-signup-email {
    height: 40px;
    width: 400px;
    font-size: 15px !important;
}

#field-signup-password {
    height: 40px;
    width: 400px;
    font-size: 15px !important;
}

#field-login-email {
    height: 40px;
    width: 400px;
    font-size: 15px !important;
}

#field-login-password {
    height: 40px;
    width: 400px;
    font-size: 15px !important;
}

#field-destination {
    height: 40px;
    width: 250px;
    font-size: 15px !important;
}

#field-tripname {
    height: 40px;
    width: 250px;
    font-size: 15px !important;
}

#field-startdate {
    height: 40px;
    width: 250px;
    font-size: 15px !important;
}

#field-enddate {
    height: 40px;
    width: 250px;
    font-size: 15px !important;
}

#field-optionalnotes {
    height: 70px;
    width: 532px;
    font-size: 15px !important;
}

#new-trip {
    text-align: center;
}

#submit-button {
    height: 40px;
    width: 400px;
    text-align: center;
    border-radius: 0;
    font-size: 20px;
    background-color: rgb(218, 115, 88);
}

#submit-button-trip {
    height: 40px;
    width: 532px;
    text-align: center;
    border-radius: 0;
    font-size: 20px;
    background-color: rgb(218, 115, 88)
}

#submit-button-trip1 {
    height: 40px;
    width: 547px;
    text-align: center;
    border-radius: 0;
    font-size: 20px;
    background-color: rgb(218, 115, 88)
}

#start {
    font-size: 15px;
    text-align: inherit;
    color: grey;
}

#end {
    font-size: 15px;
    text-align: inherit;
    color: grey;
}

#my-trips {
    text-align: center;
    font-size: 60px;
    color: white;
}

#my-trips-position {
    top: 25%;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    width: 100%
}

#trips-list {
    text-align: center;
    color: white;
}

#trips-position {
    top: 30%;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    width: 100% 
}
   
.input-size {
    height: 30px;
    width: 250px;
    font-size: 15px !important;
}

#event-dropdown {
    text-align: center;
}

#sunset {
    background-image: url("/static/css/sunset.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    background-color: black;
}

#newtrip-modal {
    text-align: left;
}

#flickr-image {
    height: 350px;
    width: 1475px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 120px;
    color: white;
    font-weight: 100;
}

#title-position {
    top: 35%;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    width: 100%
}

#create-new-trips {
    top: 70%;
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    width: 100%
}

#nav-title-fixed {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    padding-top: 25px;
    color: rgb(218, 115, 88);
}

#nav-title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    margin-top: -30px;
    color: rgb(218, 115, 88);
}

#nav-buttons {
    top: 70%;
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    width: 100%
}

#quote {
    text-align: center;
    font-size: 30px;
    color: white;
    top: 45%;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    width: 100%
}

.itinerary-center {
    text-align: left
}

.itinerary-right {
    text-align: right
}

#table-position {
    top: 52%;
    left: 0;
    position: absolute;
    width: 100%;
}

.details-button {
    top: 70%;
    left: 0;
    position: absolute;
    width: 50%; 
}

#add-event {
    font-size: 20px;
}

.jumbotron {
    background-position: center;
    background-color: black;
}

.dropdown-menu {
    opacity: 0.5;
}

#panel {
    height: 75px;
}
