{% extends 'base.html' %}
{% block title %}My Trips{% endblock %}

{% block body %}

    
    <div class="jumbotron" id="banner">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class= "col-offset-xs-3 col-xs-2">
                    <div class="navbar-header">
                        <a class="navbar-brand" id="nav-title" href="/">Wanderlust</a>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <div class="dropdown-menu">
                        <li class="dropdown-header">How To?</li>
                            <div class="dropdown-item">blah</div>
                    </div>
                    <li><a href="/my_trips" class="navbar-text"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                    <li><a href="/logout" class="navbar-text"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="container" id="my-trips-position">
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="my-trips">My Trips</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="create-new-trips">
        <div class="row">
            <div class="col-xs-offset-8 col-xs-2">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newtrip-modal">Create new trip</button>
            </div>
        </div>
    </div>
    <div class="container" id="table-position">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
                <div class="btn-group" role="group" aria-label="past/future-trips">
                    <button type="button" class="btn btn-default" id="past">Past ({{ trip_count[0][1] }})</button>
                    <button type="button" class="btn btn-default" id="future">Future ({{ trip_count[0][0] }})</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="table-responsive" class="past-trips">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center1" hidden>Destination</th>
                            <th class="text-center1" hidden>Start Date</th>
                            <th class="text-center1" hidden>End Date</th>
                            <th class="text-center1" hidden>Notes</th>
                            <th class="text-center1" hidden>More Details</th>
                        </tr>
                        {% if past_trips %}
                        {% for trip in past_trips %}
                        <tr>
                            <td class="text-center1" hidden> {{ trip[0] }}</td>
                            <td class="text-center1" hidden> {{ trip[1] }}</td>
                            <td class="text-center1" hidden> {{ trip[2] }}</td>
                            <td class="text-center1" hidden> {{ trip[3] }}</td>
                            <td class="text-center1" hidden>
                                <a href="/my_trips/{{ trip[4] }}">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
                <div class="table-responsive" class="future-trips">
                    <table class="table table-striped" >
                        <tr>
                            <th class="text-center2">Destination</th>
                            <th class="text-center2">Start Date</th>
                            <th class="text-center2">End Date</th>
                            <th class="text-center2">Notes</th>
                            <th class="text-center2">More Details</th>
                        </tr>
                        {% if future_trips %}
                        {% for trip in future_trips %}
                        <tr>
                            <td class="text-center2"> {{ trip[0] }}</td>
                            <td class="text-center2"> {{ trip[1] }}</td>
                            <td class="text-center2"> {{ trip[2] }}</td>
                            <td class="text-center2"> {{ trip[3] }}</td>
                            <td class="text-center2">
                                <a href="/my_trips/{{ trip[4] }}">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newtrip-modal" tabindex="-1" role="dialog" aria-labelledby="newtrip-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="new-trip">Create a New Trip</h4>
                </div>
                <div class="modal-body">
                    <form action="/my_trips" method="POST" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                            <label for="field-destination">Destination*</label>
                                            <input type="text" name="destination" placeholder="Destination" id="field-destination" autocomplete="on" required>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                            <label for="field-tripname">Trip Name*</label>
                                            <input type="text" name="tripname" placeholder="Trip Name" id="field-tripname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                            <label for="field-startdate">Start Date*</label>
                                            <input type="date" name="startdate" placeholder="Start" id="field-startdate" required>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                            <label for="field-enddate">End Date*</label>
                                            <input type="date" name="enddate" placeholder="End" id="field-enddate" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="field-optionalnotes">Notes</label>
                                        <input type="text" name="notes" id="field-optionalnotes" placeholder="Notes (optional)">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Add Trip" class="btn btn-primary" id="submit-button-trip">
                        </div>        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#past").click(function() {
            $(".text-center2").hide();
            $(".text-center1").show();
        });

        $("#future").click(function() {
            $(".text-center1").hide();
            $(".text-center2").show();
        });
    </script>

{% endblock %}