{% extends 'base.html' %}
{% block title %}My Trips{% endblock %}

{% block body %}
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
      </div>
    </nav>

    <h1>My Trips</h1>
    <a href="/add_new_trip">Create new trip</a>
    <br>
    <br>
    {% for trip in trips %}

        <h3><a href="/my_trips/{{ trip[4] }}">{{ trip[0] }} &nbsp;&nbsp; {{ trip[1] }} - {{ trip[2] }} &nbsp; {{ trip[3] }}</a></h3>

    {% endfor %} 

{% endblock %}