{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" data-target="#signup-modal" class="navbar-text3"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
                <li><a data-toggle="modal" data-target="#login-modal" class="navbar-text4"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
            </ul>
            </div>
        </div>
        </div>
    </nav>
    <div id="sunset"></div>
    <div class="container-fluid" id="title-position">
        <div class="row">
            <div class="col-xs-12">
                <h1 id="title">Wanderlust</h1>
            </div>
        </div>
    </div>
    <br>
    <h2 id="quote">WHERE WILL YOU TRAVEL NEXT?</h2>
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="signup-text">Sign Up for an Account</h4>
                </div>
                <div class="modal-body">
                    <form action="/signup" method="POST" role="form">
                        <div class="form-group">
                            <label for="field-firstname"></label>
                            <input type="text" name="firstname" placeholder="First Name" id="field-firstname" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="field-lastname"></label>
                            <input type="text" name="lastname" placeholder="Last Name" id="field-lastname" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="field-signup-email"></label>
                            <input type="text" name="email" placeholder="Email Address" id="field-signup-email" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="field-signup-password"></label>
                            <input type="password" name="password" placeholder="Password" id="field-signup-password" required>
                        </div>
                        <input type="submit" value="Sign Up Now" class="btn" id="submit-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="login-text">Login to Your Account</h4>
                </div>
                <div class="modal-body">
                    <form action="/login" method="POST" role="form">
                        <div class="form-group">
                            <label for="field-login-email"></label>
                            <input type="text" name="email" placeholder="Email Address" id="field-login-email" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="field-login-password"></label>
                            <input type="password" name="password" placeholder="Password" id="field-login-password" required>
                        </div>
                        <input type="submit" value="Login" class="btn btn-block" id="submit-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="details">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    <div class="detailed-steps">
                        <div class="glyphicon glyphicon-plane"></div>
                        <p class="detailed-words">1. Create a Trip</p>
                        <br>
                        <div class="glyphicon glyphicon-envelope"></div>
                        <p class="detailed-words">2. Forward your Confirmation Emails</p>
                        <br>
                        <div class="glyphicon glyphicon-eye-open"></div>
                        <p class="detailed-words">3. Access your Itinerary</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
