{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button></li>
        </ul>
      </div>
    </nav>

    <h1>Welcome!</h1>


    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

<script>$('#myModal').modal("show")</script>






  
    <div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">Login to Your Account</h1>
          </div>
          <div class="modal-body">
            <p>
                <form action="/login" method="POST" role="form">
                    <div class="form-group">
                        <label for="field-login-email">Email Address: </label>
                        <input type="text" name="email" placeholder="Enter your email" id-="field-login-email" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="field-login-password">Password: </label>
                        <input type="password" name="password" placeholder="Enter your password" id-="field-login-password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <p>Don't have account? <a class="signup" href="/signup" id="signup">Sign up here</a></p>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->



    
    



    
{% endblock %}